BasedOnStyle: Microsoft
NamespaceIndentation: All
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 120
BreakBeforeBraces: Allman
InsertBraces: true
AccessModifierOffset: -4
IndentAccessModifiers: false
PointerAlignment: Left
ReferenceAlignment: Left
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
