.vs
.internal
.venv
cpp.hint
CMakeSettings.json
.vscode
.idea
.cache
imgui.ini
__pycache__
build
prebuild
install
tools_temp
out
cmake-build-debug
cmake-build-release
test

# AI Agent
.claude
AGENTS.md
.codex-*

*sync-conflict-*
# MLIR Generations
NUL.obj
platforms/android/build/
